{% extends 'base.html' %}

{% block content %}
    <title>{{ assignment.name }}</title>

    <h1>{{ assignment.name }}</h1>

    <p>
        {{ assignment.course.code }} {{ assignment.course.title }}-{{ assignment.course.section }} <br><br>
        Description: {{ assignment.description }} <br>
        Perfect Score: {{ assignment.perfect_score }} <br>
        Passing Score: {{ assignment.passing_score }} <br>
    </p>
    <li>
        <a href="{{ assignment.get_update_url }}">Edit Assignment</a>
    </li>
{% endblock %}
