{%  extends 'base.html' %}

{% block title %} {{ assignment.name }} {% endblock %}

{% block header %} {{ assignment.name }} {% endblock %}

{% block content %}
    <p>
        {{ assignment.course.code }} {{ assignment.course.title }}-{{ assignment.course.section }} <br><br>
        Description: {{ assignment.description }} <br>
        Perfect Score: {{ assignment.perfect_score }} <br>
        Passing Score: {{ assignment.passing_score }} <br>
    </p>
    <li>
        <a href="{{ assignment.get_update_url }}" class="item">Edit Assignment</a>
    </li>
{% endblock %}
