{%  extends 'base.html' %}

{% block title %} Widget's Assignments {% endblock %}

{% block header %} Welcome to Widget's Assignments! {% endblock %}

{% block content %}
    <div id = "object_container">
         <ul id = "object_list">
            {% for assignment in assignments %}
                <a href="{{ assignment.pk }}/details/" class="item">{{ assignment.name }}</a><br>
            {% endfor %}
            <br>
            <li>
                <a href="add/" class="item">New Assignment</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block navbar %}
    <div id = "navbar">
        <a href = "/dashboard/">Dashboard</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/announcements/">Announcements</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/forum/">Forum</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/calendar/">Calendar</a>
    </div>
{% endblock %}