{%  extends 'base.html' %}

{% block title %} {{ announce.title }} {% endblock %}

{% block header %} {{ announce.title }} {% endblock %}

{% block content %}
    <h2>by {{ announce.author.first_name }} {{ announce.author.last_name }}</h2>
    <p>{{ announce.pub_datetime|date:'m/d/Y, h:i A' }}</p>
    <p>{{ announce.body }}</p>
        {% for react in announce.react.all %}
                {{ react.name }}: {{ react.tally }}<br>
        {% endfor %}
    <li>
    	<a href = "/announcements/{{ announce.pk }}/edit/" class="item">Edit Announcement</a>
    </li>
{% endblock %}
