{%  extends 'base.html' %}

{% block title %} Widget's Announcement Board {% endblock %}

{% block header %} Welcome to Widget's Announcement Board! {% endblock %}

{% block content %}
    <div id = "object_container">
         <ul id = "object_list">
            {% for announce in announcement %}
                <li>
                    <a href = "{{ announce.pk }}/details/" class = "item">{{ announce.title }} by {{ announce.author.first_name }} {{ announce.author.last_name }}</a> <br>
                </li>
            {% endfor %}
             <a href="add/" class="item"><button value="click here">Add Announcement</button></a><br><br>

        </ul>
    </div>
{% endblock %}

{% block navbar %}
    <div id = "navbar">
        <a href = "/dashboard/">Dashboard</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/forum/">Forum</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/assignments/">Assignments</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/widget_Calendar/">Calendar</a>
    </div>
{% endblock %}