{% extends 'base.html' %}
{% load static %}

{% block content %}

    <title>Widget's Announcement Board</title>
    <h1>Welcome to Widget's Announcement Board!</h1>

    <h3>Announcements:</h3>
    {% for announcement in announcements %}
        <a href = "{{announcement.pk}}/details/">{{ announcement.title }} by {{ announcement.author.first_name }} {{ announcement.author.last_name }}</a><br>
    {% endfor %} <br>
	
    <a href="announcements/add/"><button value="click here">Add Announcement</button></a>

    <a href = "/Dashboard/">Dashboard</a><br>
    <a href = "/forum/">Forum</a><br>
    <a href = "/assignments/">Assignments</a><br>
    <a href = "/widget_Calendar/">Calendar</a>

{% endblock content %}