{%  extends 'base.html' %}

{% block title %} {{ object.name }} {% endblock %}

{% block header %} {{ object.name }} {% endblock %}

{% block content %}
    <h2>{{object.activity}}</h2>
    <p>
        Date and Time: {{object.target_datetime|date:"m/d/y, h:i A"}} <br>
        Estimated Hours: {{object.estimated_hours}} <br>
        {{object.course.code}} {{object.course.title}} - {{object.course.section}} <br>
        Mode: {{object.location.mode}} <br>
        Venue: {{object.location.venue}} <br>
    </p>
    <li>
    	<a href = "/calendar/events/{{ object.pk }}/edit/" class="item">Edit Activity</a>
    </li>
{% endblock %}
