<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Post List</title>
    <h1>Forum Post List</h1>
</head>
<ul>
    {% for fp in forumposts %}
    <li><b style="font-size: 30px">{{fp.title}}</b> by <b style="font-size: large">{{fp.author.first_name}} {{fp.author.last_name}}</b> posted <b>{{fp.pub_datetime}}</b>
            <p>
                {{fp.body}}
            </p>
            {{fp.replies_set.all}}
            <ul>
                {% for reply in fp.reply.all %}
                <li> Reply by <b>{{reply.author.first_name}} {{reply.author.last_name}}</b> posted <b>{{reply.pub_datetime}}</b>
                        <p>
                            {{reply.body}}
                        </p>
                    </li>
                {%empty%}
                <li> No Replies yet.</li>
                {% endfor %}
            </ul>
        </li>
    {%empty%}
        <li>No Forum Posts yet.</li>
    {%endfor%}
</ul>
</html>