{%  extends 'base.html' %}

{% block title %} {{ posts.title }} {% endblock %}

{% block header %} {{ posts.title }} {% endblock %}

{% block content %}
    <h2>by {{ posts.author.first_name }} {{ posts.author.last_name }}</h2>
    <p>{{ posts.pub_datetime|date:"M/d/Y, f A"}}</p>
    <p>{{ posts.body }}</p>
    <h3>POST REPLIES:</h3>
    {% for reply in posts.reply.all %}
        by {{ reply.author.first_name }} {{ reply.author.last_name }}<br>
        {{ reply.pub_datetime|date:"M/d/Y, f A"}}<br>
        {{ reply.body }}<br><br>
    {% endfor %}
    <li>
        <a href="/forum/forumposts/{{ posts.pk }}/edit/" class="item">Edit Post</a>
    </li>
{% endblock %}
