{%  extends 'base.html' %}

{% block title %} Widget's Forum {% endblock %}

{% block header %} Welcome to Widget's Forum {% endblock %}

{% block content %}
    <div id = "object_container">
         <ul id = "object_list">
            {% for post in posts %}
                <a href="forumposts/{{ post.pk }}/details/" class="item">{{ post.title }} by {{ post.author.first_name }} {{ post.author.last_name }}</a><br>
            {% endfor %}
            <br>
            <li>
                <a href="forumposts/add/" class="item">New Post</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block navbar %}
    <div id = "navbar">
        <a href = "/dashboard/">Dashboard</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/announcements/">Announcements</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/assignments/">Assignments</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/calendar/">Calendar</a>
    </div>
{% endblock %}