{%  extends 'base.html' %}

{% block title %} Widget v2 {% endblock %}

{% block header %} Welcome to Widget! {% endblock %}

{% block content %}
    <div id = "object_container">
        <h2>
            Widget Users:
        </h2>
         <ul id = "object_list">
            {% for user in users %}
                <a href="/widgetusers/{{ user.pk }}/details/" class="item">{{ user.last_name }}, {{ user.first_name }}</a><br>
            {% endfor %}
            <br>
            <li>
                <a href="/widgetusers/add/" class="item">Add Widget User</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block navbar %}
    <div id = "navbar">
        <a href="/announcements/">Announcement Board</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/forum/">Forum</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/assignments/">Assignments</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/calendar/">Calendar</a>
    </div>
{% endblock %}